.bloop
.metals
.idea
target
project/target
project/project
project/metals.sbt
Makefile
.bsp
.idea
null/
# config
modules/zim-server/src/main/resources/application.conf
modules/zim-server/src/test/resources/application-dev.conf
modules/zim-server/src/test/resources/application-test.conf
# upload file into this folder
static/
logs/
deploy-dev.sh

