infrastructure {
  mysql {
    url = "jdbc:mysql://localhost:3306/zim?useUnicode=true&useSSL=false&characterEncoding=utf-8"
    user = "root"
    password = "root"
    databaseName = "zim"
    connection {
      initialPoolSize = 1,
      maxPoolSize = 5,
      timeoutMillis = 3000,
      validationQuery = "select 1",
      driver = "com.mysql.jdbc.Driver"
    }
  }
}

application {

    name = "Zim-Application"
    server {
      port = 9000
      interface = "localhost"
      webHost = "im.dreamylost.cn"
    }

    redis = {
      host = "localhost"
      port = 6379
    }

    javamail {
      host = "x",
      username = "",
      password = "",
      port = 0,
      threadPoolSize = 20,
      connectionPoolCoreSize = 10,
      debug = true
      sender = "111.@qq.com"
    }
}

akka {
  actor.default-dispatcher.fork-join-executor.parallelism-max = 64
  http.server.websocket.periodic-keep-alive-max-idle = 3 second
  http.server.websocket.periodic-keep-alive-mode = pong
  actor.debug.unhandled = true
  actor.debug.receive = true
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = "DEBUG"
  stdout-loglevel = "DEBUG"
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
  akka.http.server.parsing.max-method-length = 4k
}

